{% sw_extends '@Storefront/storefront/component/modals/store-switcher.html.twig' %}

 {% set partsWorld = {
     'africa': {
         'title': "switcher.titleAfrica",
     },
     'asia': {
         'title': "switcher.titleAsia",
     },
     'australia': {
         'title': "switcher.titleAustralia",
     },
     'europe': {
         'title': "switcher.titleEurope",
     },
     'north-america': {
         'title': "switcher.titleNAmerica",
     },
     'south-america': {
         'title': "switcher.titleSAmerica",
     },

 }
 %}
{% block zeobv_store_switcher_component_modal_store_switcher %}
    <div {% if zeobvStoreSwitcher.showStorePickerModal %}data-store-switcher-modal="true"{% endif %}
         data-store-switcher-modal-options='{
            "domainSelectionIsMandatory": {{ zeobvStoreSwitcher.config.domainSelectionIsMandatory ? 1 : 0 }},
            "currentStoreId": "{{ context.domainId }}"
         }'
         class="modal fade"
         tabindex="-1"
         aria-hidden="true"
         id="storeSwitcherModal"
         
            {% if zeobvStoreSwitcher.config.domainSelectionIsMandatory %}
                data-backdrop="static"
                data-keyboard="false"
            {% endif %}
         role="dialog">
        {% block zeobv_store_switcher_component_modal_store_switcher_modal %}
            <div class="modal-dialog modal-dialog-centered switcher-modal-language"
                 role="document">
                <div class="modal-content">
{#                    <div class="modal-header only-close">#}
{#                        {% if not zeobvStoreSwitcher.config.domainSelectionIsMandatory %}#}
{#                            <button type="button"#}
{#                                    class="btn-close close"#}
{#                                    data-bs-dismiss="modal"#}
{#                                    aria-label="Close">#}
{#                                {% block element_image_gallery_inner_zoom_modal_close_icon %}#}
{#                                {% endblock %}#}
{#                            </button>#}
{#                        {% endif %}#}
{#                    </div>#}
                    <div class="modal-body store-switcher-modal--content-element">
                        {% block zeobv_store_switcher_component_modal_store_picker_widget %}
                            <div class="row all-content">
                                <div class="col-12 col-md-4 col-lg-3 left-side">
                                    <!-- Left side-->
                                    <div class="h5 store-switcher-modal--subtitle-element">{{ "switcher.titleChose"|trans|sw_sanitize }}</div>
                                    <!-- This div element is to make vertical tabs -->
                                    <div class="nav flex-column nav-pills continents"
                                         id="v-pills-tab"
                                         role="tablist"
                                         aria-orientation="vertical">
                                        {% for key, part in partsWorld %}

                                            {% set active = '' %}
                                            {% if key === 'africa' %}
                                                {% set active = "active" %}
                                            {% endif %}

                                            <p class="continent {{ active }}"
                                               id="v-pills-{{ key }}-tab"
                                               data-bs-toggle="pill"
                                               data-bs-target="#v-pills-{{ key }}"
                                               type="button"
                                               role="tab"
                                               aria-controls="v-pills-{{ key }}"
                                               aria-selected="true">
                                            <span class="d-md-none icon-continent icon-open-select">
                                                {% sw_icon 'arrow-head-down' %}
                                            </span>
                                                <span class="d-md-none icon-continent icon-close-select">
                                                {% sw_icon 'arrow-head-up' %}
                                            </span>
                                                {{ (part.title)|trans|sw_sanitize }}
                                            </p>
                                        {% endfor %}

                                    </div>
                                </div>

                                <div class="col-12 col-md-8 col-lg-9 right-side">
                                    <div class="tab-content" id="v-pills-tabContent">

                                        {% for key, part in partsWorld %}

                                            {% set active = '' %}
                                            {% if key === 'africa' %}
                                                {% set active = "show active" %}
                                            {% endif %}

                                            <div class="tab-pane fade {{ active }}"
                                                 id="v-pills-{{ key }}"
                                                 role="tabpanel"
                                                 aria-labelledby="v-pills-{{ key }}-tab">
                                                <div class="row">
                                                    {% sw_include '@ZeobvStoreSwitcher/storefront/component/widgets/store-picker-widget.html.twig' with {
                                                        expanded: true,
                                                        options: zeobvStoreSwitcher.options,
                                                        activeDomain: zeobvStoreSwitcher.activeDomain,
                                                        showFlag: zeobvStoreSwitcher.config.showStoreSwitcherDomainCountryFlag,
                                                        continent: key
                                                    } %}
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
