{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_quantity_container %}
    {% if showQuantitySelect %}
        <div class="col-12 d-flex buy-widget-container-col">
            {% set selectQuantityThreshold = 100 %}
            {% block page_product_detail_buy_quantity %}
                {% block page_product_detail_buy_quantity_input_group %}
                <h3>{{ "detail.qte"|trans }}</h3>
                    <div class="input-group product-detail-quantity-group quantity-selector-group" data-quantity-selector="true">
                        {% block page_product_detail_buy_quantity_input %}
                            <button type="button" class="btn btn-outline-light btn-minus js-btn-minus">
                                {% sw_icon 'minus' style {'size': 'xs'} %}
                            </button>
                            <input
                                type="number"
                                name="lineItems[{{ product.id }}][quantity]"
                                class="form-control js-quantity-selector quantity-selector-group-input product-detail-quantity-input"
                                min="{{ product.minPurchase }}"
                                max="{{ product.calculatedMaxPurchase }}"
                                step="{{ product.purchaseSteps }}"
                                value="{{ product.minPurchase }}"
                            />
                            <button type="button" class="btn btn-outline-light btn-plus js-btn-plus">
                                {% sw_icon 'plus' style {'size': 'xs'} %}
                            </button>
                        {% endblock %}
                        {% block page_product_detail_buy_quantity_input_unit %}
                            {% if product.translated.packUnit %}
                                <span class="input-group-text">
                                    {% if product.minPurchase > 1 and product.translated.packUnitPlural %}
                                        {{ product.translated.packUnitPlural }}
                                    {% elseif product.translated.packUnit %}
                                        {{ product.translated.packUnit }}
                                    {% endif %}
                                </span>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block page_product_detail_ordernumber_container %}
{% endblock %}

{% block page_product_detail_buy_container %}
    <div class="row">
        <div class="col-12 col-md-7 buy-widget-container-header">
            <h3>{{ "detail.buyOnline"|trans }}</h3>
            <h2>{{ "detail.priceOnRequestTitle"|trans }}</h2>
            <p>{{ "detail.priceOnRequestText"|trans|raw }}</p>
        </div>
        <div class="col-12 col-md-5">
            {{ parent() }}
        </div>
    </div>
{% endblock %}

