{% sw_extends '@Storefront/storefront/component/line-item/element/quantity.html.twig' %}

{% block component_line_item_quantity_label %}{% endblock %}

{# Change + and - icon #}
{% block component_line_item_quantity_select_input %}
    <div class="input-group line-item-quantity-group quantity-selector-group" data-quantity-selector="true">
        <button
            {% if isDigital %}disabled="disabled"{% endif %}
            type="button"
            class="btn btn-outline-light btn-minus js-btn-minus"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="15" viewBox="0 0 5 15" class="icon">
                <text id="_-" data-name="-" transform="translate(0 11)" fill="#193c69" font-size="14" font-family="Calibri"><tspan x="0" y="0">-</tspan></text>
            </svg>
        </button>
        <input
            {% if isDigital %}disabled="disabled"{% endif %}
            type="number"
            name="quantity"
            class="form-control js-quantity-selector quantity-selector-group-input quantity-input-{{ lineItem.id }} {% if displayMode === 'offcanvas' %} js-offcanvas-cart-change-quantity-number{% endif %}"
            min="{{ quantityInformation.minPurchase }}"
            max="{{ maxQuantity }}"
            step="{{ quantityInformation.purchaseSteps }}"
            value="{{ lineItem.quantity }}"
        />
        <button
            {% if isDigital %}disabled="disabled"{% endif %}
            type="button"
            class="btn btn-outline-light btn-plus js-btn-plus"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="15" viewBox="0 0 7 15" class="icon">
                <text id="_" data-name="+" transform="translate(0 11)" fill="#193c69" font-size="14" font-family="Calibri"><tspan x="0" y="0">+</tspan></text>
            </svg>
        </button>
    </div>
{% endblock %}
