<div class="footer-socials">
    {% if context.saleschannel.translated.customFields.social_media_links_instagram is defined and context.saleschannel.translated.customFields.social_media_links_instagram != '' %}
        <a class="footer-social-button" rel="noopener" aria-label="Instagram" title="Instagram" target="_blank" href="{{ context.saleschannel.translated.customFields.social_media_links_instagram }}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44" height="44" viewBox="0 0 44 44">
                <defs>
                    <clipPath id="clip-path">
                        <rect id="Rechteck_42" data-name="Rechteck 42" width="44" height="44" transform="translate(0)" fill="#193c69"/>
                    </clipPath>
                </defs>
                <g id="Gruppe_5" data-name="Gruppe 5" transform="translate(0.5)">
                    <g id="Gruppe_4" data-name="Gruppe 4" transform="translate(-0.5)" clip-path="url(#clip-path)">
                        <path id="Pfad_6" data-name="Pfad 6" d="M57.864,53.333A4.531,4.531,0,1,0,62.4,57.864a4.531,4.531,0,0,0-4.531-4.531" transform="translate(-35.954 -36.274)" fill="#193c69"/>
                        <path id="Pfad_7" data-name="Pfad 7" d="M54.4,35.785a4.508,4.508,0,0,0-2.58-2.58,7.517,7.517,0,0,0-2.524-.468c-1.434-.066-1.863-.079-5.493-.079s-4.06.014-5.493.079a7.517,7.517,0,0,0-2.524.468,4.506,4.506,0,0,0-2.58,2.58,7.523,7.523,0,0,0-.468,2.524c-.066,1.433-.079,1.863-.079,5.493s.014,4.06.079,5.493a7.523,7.523,0,0,0,.468,2.524,4.5,4.5,0,0,0,2.58,2.58,7.523,7.523,0,0,0,2.524.468c1.433.066,1.863.079,5.493.079s4.06-.014,5.493-.079A7.523,7.523,0,0,0,51.82,54.4a4.5,4.5,0,0,0,2.58-2.58,7.523,7.523,0,0,0,.468-2.524c.065-1.433.079-1.863.079-5.493s-.014-4.06-.079-5.493a7.523,7.523,0,0,0-.468-2.524m-10.6,15a6.981,6.981,0,1,1,6.981-6.98,6.98,6.98,0,0,1-6.981,6.98m7.257-12.606a1.631,1.631,0,1,1,1.631-1.631,1.631,1.631,0,0,1-1.631,1.631" transform="translate(-21.892 -22.212)" fill="#193c69"/>
                        <path id="Pfad_8" data-name="Pfad 8" d="M21.59,0A21.59,21.59,0,1,0,43.18,21.59,21.59,21.59,0,0,0,21.59,0M35.1,27.195a9.981,9.981,0,0,1-.632,3.3,6.954,6.954,0,0,1-3.976,3.975,9.981,9.981,0,0,1-3.3.632c-1.45.066-1.913.082-5.6.082s-4.155-.016-5.6-.082a9.977,9.977,0,0,1-3.3-.632A6.951,6.951,0,0,1,8.71,30.495a9.981,9.981,0,0,1-.632-3.3C8.012,25.745,8,25.282,8,21.59s.016-4.155.082-5.6a9.981,9.981,0,0,1,.632-3.3A6.953,6.953,0,0,1,12.686,8.71a9.978,9.978,0,0,1,3.3-.632C17.435,8.012,17.9,8,21.59,8s4.155.016,5.6.082a9.981,9.981,0,0,1,3.3.632,6.955,6.955,0,0,1,3.976,3.976,9.981,9.981,0,0,1,.632,3.3c.066,1.45.082,1.913.082,5.6s-.016,4.155-.082,5.6" transform="translate(0.32)" fill="#193c69"/>
                    </g>
                </g>
            </svg>
        </a>
    {% endif %}
    {% if context.saleschannel.translated.customFields.social_media_links_facebook is defined and context.saleschannel.translated.customFields.social_media_links_facebook != '' %}
        <a class="footer-social-button" rel="noopener" aria-label="Facebook" title="Facebook" target="_blank" href="{{ context.saleschannel.translated.customFields.social_media_links_facebook }}">
            <svg id="Gruppe_7" data-name="Gruppe 7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44" height="43.733" viewBox="0 0 44 43.733">
                <defs>
                    <clipPath id="clip-path">
                        <rect id="Rechteck_43" data-name="Rechteck 43" width="44" height="43.733" fill="#193c69"/>
                    </clipPath>
                </defs>
                <g id="Gruppe_6" data-name="Gruppe 6" clip-path="url(#clip-path)">
                    <path id="Pfad_9" data-name="Pfad 9" d="M22,0a22,22,0,0,0-3.438,43.733V28.359H12.977V22h5.586V17.153c0-5.514,3.285-8.559,8.31-8.559a33.818,33.818,0,0,1,4.925.43v5.414H29.023c-2.733,0-3.585,1.7-3.585,3.436V22h6.1l-.975,6.359H25.438V43.733A22,22,0,0,0,22,0" fill="#193c69"/>
                </g>
            </svg>
        </a>
    {% endif %}
    {% if context.saleschannel.translated.customFields.social_media_links_twitter is defined and context.saleschannel.translated.customFields.social_media_links_twitter != '' %}
        <a class="footer-social-button" rel="noopener" aria-label="Twitter" title="Twitter" target="_blank" href="{{ context.saleschannel.translated.customFields.social_media_links_twitter }}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44" height="44" viewBox="0 0 44 44">
                <defs>
                    <clipPath id="clip-path">
                        <rect id="Rechteck_44" data-name="Rechteck 44" width="44" height="44" fill="#193c69"/>
                    </clipPath>
                </defs>
                <g id="Gruppe_8" data-name="Gruppe 8" clip-path="url(#clip-path)">
                    <path id="Pfad_10" data-name="Pfad 10" d="M22,0A22,22,0,1,0,44,22,22,22,0,0,0,22,0M34.159,17.294q.017.375.017.755c0,7.719-5.876,16.621-16.621,16.621A16.538,16.538,0,0,1,8.6,32.046a11.858,11.858,0,0,0,1.394.081,11.721,11.721,0,0,0,7.255-2.5,5.848,5.848,0,0,1-5.457-4.057,5.838,5.838,0,0,0,2.638-.1,5.844,5.844,0,0,1-4.687-5.727c0-.026,0-.05,0-.074a5.8,5.8,0,0,0,2.646.731,5.847,5.847,0,0,1-1.809-7.8,16.585,16.585,0,0,0,12.041,6.1,5.845,5.845,0,0,1,9.955-5.328,11.7,11.7,0,0,0,3.709-1.418,5.86,5.86,0,0,1-2.569,3.232,11.663,11.663,0,0,0,3.355-.919,11.889,11.889,0,0,1-2.914,3.025" fill="#193c69" fill-rule="evenodd"/>
                </g>
            </svg>
        </a>
    {% endif %}
    {% if context.saleschannel.translated.customFields.social_media_links_youtube is defined and context.saleschannel.translated.customFields.social_media_links_youtube != '' %}
        <a class="footer-social-button" rel="noopener" aria-label="YouTube" title="YouTube" target="_blank" href="{{ context.saleschannel.translated.customFields.social_media_links_youtube }}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44" height="44" viewBox="0 0 44 44">
                <defs>
                    <clipPath id="clip-path">
                        <rect id="Rechteck_48" data-name="Rechteck 48" width="44" height="44" transform="translate(0 0)" fill="#193c69"/>
                    </clipPath>
                </defs>
                <g id="Gruppe_19" data-name="Gruppe 19" transform="translate(-1393.895 -127.895)">
                    <g id="Gruppe_18" data-name="Gruppe 18" transform="translate(1393.895 127.895)">
                        <g id="Gruppe_17" data-name="Gruppe 17" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Pfad_15" data-name="Pfad 15" d="M21.95,0A21.95,21.95,0,1,0,43.9,21.95,21.95,21.95,0,0,0,21.95,0M35.971,28.994a3.665,3.665,0,0,1-2.587,2.587c-2.282.612-11.434.612-11.434.612s-9.152,0-11.434-.612a3.665,3.665,0,0,1-2.587-2.587,38.1,38.1,0,0,1-.611-7.044,38.1,38.1,0,0,1,.611-7.044,3.666,3.666,0,0,1,2.587-2.587c2.282-.611,11.434-.611,11.434-.611s9.152,0,11.434.611a3.666,3.666,0,0,1,2.587,2.587,38.081,38.081,0,0,1,.612,7.044,38.078,38.078,0,0,1-.612,7.044" transform="translate(0.1 0.1)" fill="#193c69"/>
                        </g>
                    </g>
                    <path id="Pfad_16" data-name="Pfad 16" d="M0,0V8.78L7.6,4.39Z" transform="translate(1412.206 145.555)" fill="#193c69"/>
                </g>
            </svg>
        </a>
    {% endif %}
    {% if context.saleschannel.translated.customFields.social_media_links_linkedin is defined and context.saleschannel.translated.customFields.social_media_links_linkedin != '' %}
        <a class="footer-social-button" rel="noopener" aria-label="LinkedIn" title="LinkedIn" target="_blank" href="{{ context.saleschannel.translated.customFields.social_media_links_linkedin }}">
            <svg id="Gruppe_14" data-name="Gruppe 14" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44" height="44" viewBox="0 0 44 44">
                <defs>
                    <clipPath id="clip-path">
                        <rect id="Rechteck_46" data-name="Rechteck 46" width="44" height="44" fill="#193c69"/>
                    </clipPath>
                </defs>
                <g id="Gruppe_13" data-name="Gruppe 13" clip-path="url(#clip-path)">
                    <path id="Pfad_13" data-name="Pfad 13" d="M22,0A22,22,0,1,0,44,22,22,22,0,0,0,22,0M14.739,34.021c-1.565-.017-3.13-.013-4.7,0-.251,0-.326-.061-.326-.32q.011-8.365,0-16.731c0-.231.056-.313.3-.312,1.588.01,3.175.013,4.763,0,.305,0,.347.115.346.377q-.011,4.166,0,8.332c0,2.754,0,5.509.007,8.264,0,.306-.075.4-.392.4M12.428,14.267a3.124,3.124,0,1,1,3.128-3.139,3.146,3.146,0,0,1-3.128,3.139m22.946,19.4c0,.285-.079.359-.359.357q-2.349-.02-4.7,0c-.276,0-.335-.083-.334-.343q.013-4.337,0-8.675a7.8,7.8,0,0,0-.252-2.154A2.421,2.421,0,0,0,27.07,20.96a2.911,2.911,0,0,0-3.059,2.905,10.844,10.844,0,0,0-.083,1.356c0,2.812,0,5.625.007,8.437,0,.28-.069.363-.356.36q-2.366-.021-4.731,0c-.253,0-.326-.066-.326-.322q.01-8.352,0-16.7c0-.276.09-.34.35-.338q2.246.017,4.493,0c.276,0,.347.087.341.347-.015.665-.005,1.331-.005,2,.361-.406.659-.818,1.03-1.168a5.653,5.653,0,0,1,4.066-1.6,9.409,9.409,0,0,1,2.557.311A5,5,0,0,1,34.9,20.269a15.641,15.641,0,0,1,.473,4.276c.005,3.039-.009,6.078,0,9.117" fill="#193c69"/>
                </g>
            </svg>
        </a>
    {% endif %}
    {% if context.saleschannel.translated.customFields.social_media_links_xing is defined and context.saleschannel.translated.customFields.social_media_links_xing != '' %}
        <a class="footer-social-button" rel="noopener" aria-label="Xing" title="Xing" target="_blank" href="{{ context.saleschannel.translated.customFields.social_media_links_xing }}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44" height="44" viewBox="0 0 44 44">
                <defs>
                    <clipPath id="clip-path">
                        <rect id="Rechteck_47" data-name="Rechteck 47" width="44" height="44" fill="#193c69"/>
                    </clipPath>
                </defs>
                <g id="Gruppe_15" data-name="Gruppe 15" clip-path="url(#clip-path)">
                    <path id="Pfad_14" data-name="Pfad 14" d="M22,0A22,22,0,1,0,44,22,22,22,0,0,0,22,0M7.156,26.826l6.708-6.708-3.8-3.8h6.484l3.466,4.36-6.149,6.149Zm24.22,6.637h-6.6L18.3,24.854,30.687,11.886H37.4L24.753,25.109Z" fill="#193c69"/>
                </g>
            </svg>
        </a>
    {% endif %}
</div>
