{% block swag_cms_extensions_form_component_select_custom %}
    <div class="col-md-{{ field.width }}">
        {% block swag_cms_extensions_form_component_select_content_label %}
            <label class="form-label" for="form-{{ form.technicalName }}-{{ field.technicalName }}">
                {{- field.translated.label -}}{% if field.required %} {{- "general.required"|trans -}}{% endif %}
            </label>
        {% endblock %}
 
        {% block swag_cms_extensions_form_component_select_content_select_custom %}
            <select name="{{ field.technicalName }}"
                    id="form-{{ form.technicalName }}-{{ field.technicalName }}"
                    class="form-select contact-select{% if formViolations.getViolations('/' ~ field.technicalName) %} is-invalid{% endif %}"
                    {% if field.required %}required="required"{% endif %}
                    {% if field.translated.errorMessage %}data-form-validation-error-message="{{ field.translated.errorMessage }}"{% endif %}>

                {% for countryName, value in countryOptions %}

                    {% if loop.first %}
                        <option value="{{ value }}" selected="selected">
                            {{ countryName }}
                        </option>
                    {% else %}
                        <option value="{{ value }}">
                            {{ countryName }}
                        </option>
                    {% endif %}
                {% endfor %}

            </select>

            {% if formViolations.getViolations('/' ~ field.technicalName) is not empty %}
                {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig'
                    with { violationPath: '/' ~ field.technicalName}
                %}
            {% endif %}
        {% endblock %}

    </div>
{% endblock %}
