{% block swag_cms_extensions_form_component_text %}
    <div class="col-md-{{ field.width }}">

        {% block swag_cms_extensions_form_component_text_label %}
            <label class="form-label" for="form-{{ form.technicalName }}-{{ field.technicalName }}">
                {{- field_translated_label -}}{% if field.required %} {{- "general.required"|trans -}}{% endif %}
            </label>
        {% endblock %}

        {% block swag_cms_extensions_form_component_text_input %}
            <input name="{{ field.technicalName }}"
                   type="text"
                   id="form-{{ form.technicalName }}-{{ field.technicalName }}"
                   class="form-control{% if formViolations.getViolations( '/' ~ field.technicalName ) %} is-invalid{% endif %}"
                   value="{{ data.get( field.technicalName ) }}"
                   placeholder="{{ field_translated_placeholder }}"
                   {% if field.required %}required="required"{% endif %}
                   {% if field.translated.errorMessage %}data-form-validation-error-message="{{ field_translated_errorMessage }}"{% endif %}/>

            {% if formViolations.getViolations( '/' ~ field.technicalName ) is not empty %}
                {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                    violationPath: ('/' ~ field.technicalName)
                } %}
            {% endif %}
        {% endblock %}

    </div>
{% endblock %}
