{% block swag_cms_extensions_form_component_select %}
    <div class="col-md-{{ field.width }}">
        <div class="form-check">

            {% block swag_cms_extensions_form_component_checkbox_label_input %}
                <input name="{{ field.technicalName }}"
                       type="checkbox"
                       id="form-{{ form.technicalName }}-{{ field.technicalName }}"
                       class="form-check-input"
                       {% if field.required %}required="required"{% endif %}
                       {% if field.translated.config.default %}checked="checked"{% endif %}
                       {% if field.translated.errorMessage %}data-form-validation-error-message="{{ field_translated_errorMessage }}"{% endif %}>
            {% endblock %}

            {% block swag_cms_extensions_form_component_checkbox_label %}
                <label for="form-{{ form.technicalName }}-{{ field.technicalName }}" class="form-check-label">
                    {{- field_translated_label -}}{% if field.required %} {{- "general.required"|trans -}}{% endif %}
                </label>
            {% endblock %}

        </div>
    </div>
{% endblock %}
